.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 15px;
  z-index: 50;
}

.bm-burger-bars {
  background: grey;
}

.bm-cross {
  background: red;
}

.bm-cross-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 15px;
  z-index: 50;
  height: 24px;
  width: 24px;
}
